TransportationLib/com/touresbalon/bo/TravelResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://TransportLib/com/touresbalon/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TravelResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="numViaje" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ciudadOrigen" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ciudadDestino" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numSilla" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fechaSalida" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>