TransportationLib/com/touresbalon/bo/TravelRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://TransportLib/com/touresbalon/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TravelRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ciudadOrigen"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="ciudadDestino"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="travelDate"
				type="xsd:date" />
			<xsd:element minOccurs="0" name="transportCompany"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>