EntityServices-TransportationModule/com/aa/services/aaflightsservice.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:include schemaLocation="../../../org/tempuri/ArrayOfInformacionVuelo.xsd"/>
            <s:include schemaLocation="../../../org/tempuri/InformacionReserva.xsd"/>
            <s:include schemaLocation="../../../org/tempuri/InformacionVuelo.xsd"/>
            <s:include schemaLocation="../../../org/tempuri/ConsultaVuelo.xsd"/>
            <s:element name="bookingFlight">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="informacionReserva" type="tns:InformacionReserva"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelFlight">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="orderID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="cancelFlightResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkAvailability">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="consultarVuelo" type="tns:ConsultaVuelo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkAvailabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="checkAvailabilityResult" type="tns:ArrayOfInformacionVuelo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="bookingFlightSoapIn">
    <wsdl:part element="tns:bookingFlight" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cancelFlightSoapIn">
    <wsdl:part element="tns:cancelFlight" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cancelFlightSoapOut">
    <wsdl:part element="tns:cancelFlightResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkAvailabilitySoapIn">
    <wsdl:part element="tns:checkAvailability" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkAvailabilitySoapOut">
    <wsdl:part element="tns:checkAvailabilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="AAFlightsServiceSoap">
    <wsdl:operation name="bookingFlight">
      <wsdl:input message="tns:bookingFlightSoapIn"/>
    </wsdl:operation>
    <wsdl:operation name="cancelFlight">
      <wsdl:input message="tns:cancelFlightSoapIn"/>
      <wsdl:output message="tns:cancelFlightSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="checkAvailability">
      <wsdl:input message="tns:checkAvailabilitySoapIn"/>
      <wsdl:output message="tns:checkAvailabilitySoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>