BolivarianoModule_old/BolivarianoTravelsIF.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="BolivarianoFile" targetNamespace="http://BolivarianoModule/BolivarianoTravelsFile" xmlns:bons0="http://BolivarianoModule/BolivarianoFile" xmlns:bons1="http://www.ibm.com/xmlns/prod/websphere/j2ca/flatfile/flatfile" xmlns:bons2="http://BolivarianoModule/com/touresbalon/bo/transportbolivarianoretrievewrapperbg" xmlns:bons3="http://com/ibm/j2ca/fault/afcfault" xmlns:tns="http://BolivarianoModule/BolivarianoTravelsFile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com/ibm/j2ca/fault/afcfault">
      <xsd:include schemaLocation="CommonSchemas/RecordNotFoundFault.xsd"/>
      <xsd:include schemaLocation="CommonSchemas/MissingDataFault.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://BolivarianoModule/BolivarianoTravelsFile" xmlns:bons="http://com/ibm/j2ca/fault/afcfault" xmlns:bons0="http://BolivarianoModule/BolivarianoTravelsFile" xmlns:bons12="http://com/ibm/j2ca/fault/afcfault" xmlns:bons123="http://com/ibm/j2ca/fault/afcfault" xmlns:bons4="http://com/ibm/j2ca/fault/afcfault">
            <xsd:import namespace="http://com/ibm/j2ca/fault/afcfault" schemaLocation="CommonSchemas/MissingDataFault.xsd"/>
            <xsd:import namespace="http://com/ibm/j2ca/fault/afcfault" schemaLocation="CommonSchemas/DuplicateRecordFault.xsd"/>
            <xsd:import namespace="http://com/ibm/j2ca/fault/afcfault" schemaLocation="CommonSchemas/RecordNotFoundFault.xsd"/>
            <xsd:import namespace="http://com/ibm/j2ca/fault/afcfault" schemaLocation="./CommonSchemas/MissingDataFault.xsd"/>
            <xsd:import namespace="http://com/ibm/j2ca/fault/afcfault" schemaLocation="./CommonSchemas/RecordNotFoundFault.xsd"/>
            <xsd:import namespace="http://com/ibm/j2ca/fault/afcfault" schemaLocation="./CommonSchemas/DuplicateRecordFault.xsd"/>
            <xsd:import namespace="http://com/ibm/j2ca/fault/afcfault"/>
      <xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/flatfile/flatfile" schemaLocation="CommonSchemas/FlatFile.xsd"/>
      <xsd:import namespace="http://BolivarianoModule/com/touresbalon/bo/transportbolivarianoretrievewrapperbg" schemaLocation="com/touresbalon/bo/TransportBolivarianoRetrieveWrapperBG.xsd"/>
      <xsd:element name="retrieveTravels">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="retrieveTravelsInput" type="bons1:FlatFile"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveTravelsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="retrieveTravelsOutput" type="bons2:TransportBolivarianoRetrieveWrapperBG"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MissingDataFault_element" nillable="true" type="bons4:MissingDataFault"/>
      <xsd:element name="RecordNotFoundFault_element" nillable="true" type="bons4:RecordNotFoundFault"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="retrieveTravelsRequestMsg">
    <wsdl:part element="tns:retrieveTravels" name="retrieveTravelsParameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveTravelsResponseMsg">
    <wsdl:part element="tns:retrieveTravelsResponse" name="retrieveTravelsResult"/>
  </wsdl:message>
  <wsdl:message name="retrieveTravelsMissingDataFaultMsg">
    <wsdl:part element="tns:MissingDataFault_element" name="MissingDataFault"/>
  </wsdl:message>
  <wsdl:message name="retrieveTravelsRecordNotFoundFaultMsg">
    <wsdl:part element="tns:RecordNotFoundFault_element" name="RecordNotFoundFault"/>
  </wsdl:message>
    <wsdl:portType name="BolivarianoTravelsIF">
    <wsdl:operation name="retrieveTravels">
      <wsdl:input message="tns:retrieveTravelsRequestMsg" name="retrieveTravelsRequest"/>
      <wsdl:output message="tns:retrieveTravelsResponseMsg" name="retrieveTravelsResponse"/>
      <wsdl:fault message="tns:retrieveTravelsMissingDataFaultMsg" name="MISSING_DATA"/>
      <wsdl:fault message="tns:retrieveTravelsRecordNotFoundFaultMsg" name="RECORD_NOT_FOUND"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>