DevWorks/Item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://com.ibm.dwexample.bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Item">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="value" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>