DevWorks/User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://com.ibm.dwexample.bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="User">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="userid"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fullname"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="email" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>