OrderManagementLib1/BusinessErrorFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://OrderManagementLib"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="BusinessErrorFault">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="faultCode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="faultString"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="faultActor"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="faultDetail"
				type="xsd:string">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>