OrderManagementLib1/EmailOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://OrderManagementLib"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="EmailOrder">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="to" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="from" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="subject"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="body" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>