Bolivariano/Transporte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Bolivariano"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Transporte">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="field1"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="field2" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="field3"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>