TravelApproval_AllSamples/Example2_Event_lib/FlightReservationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://packtpub.com/service/airline/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="FlightReservationType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="FlightNo"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Confirmed"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>