TravelApproval_AllSamples/Example2_Event_lib/FlightReservationPT.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="FlightReservationPT" targetNamespace="http://packtpub.com/service/airline/" xmlns:tns="http://packtpub.com/service/airline/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://packtpub.com/service/airline/">
      <xsd:include schemaLocation="TravelResponseMessage.xsd"/>
      <xsd:element name="MakeReservation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TravelResponse" nillable="true" type="tns:TravelResponseMessage"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="CancelReservation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TravelResponse" nillable="true" type="tns:TravelResponseMessage"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="MakeReservationRequestMsg">
    <wsdl:part element="tns:MakeReservation" name="MakeReservationParameters"/>
  </wsdl:message>
    <wsdl:message name="CancelReservationRequestMsg">
    <wsdl:part element="tns:CancelReservation" name="CancelReservationParameters"/>
  </wsdl:message>
    <wsdl:portType name="FlightReservationPT">
    <wsdl:operation name="MakeReservation">
      <wsdl:input message="tns:MakeReservationRequestMsg" name="MakeReservationRequest"/>
    </wsdl:operation>
        <wsdl:operation name="CancelReservation">
      <wsdl:input message="tns:CancelReservationRequestMsg" name="CancelReservationRequest"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>