TravelApproval_AllSamples/Example2_Event_lib/TravelApprovalPT.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="TravelApprovalPT" targetNamespace="http://packtpub.com/bpel/travel/" xmlns:bons1="http://packtpub.com/service/airline/" xmlns:tns="http://packtpub.com/bpel/travel/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://packtpub.com/bpel/travel/">
      <xsd:import namespace="http://packtpub.com/service/airline/" schemaLocation="FlightReservationMessage.xsd"/>
      <xsd:include schemaLocation="TravelRequestMessage.xsd"/>
      <xsd:element name="TravelApproval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TravelRequest" nillable="true" type="tns:TravelRequestMessage"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TravelApprovalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FlightReservation" nillable="true" type="bons1:FlightReservationMessage"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="CancelTravelApproval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TravelRequest" nillable="true" type="tns:TravelRequestMessage"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="TravelApprovalRequestMsg">
    <wsdl:part element="tns:TravelApproval" name="TravelApprovalParameters"/>
  </wsdl:message>
    <wsdl:message name="TravelApprovalResponseMsg">
    <wsdl:part element="tns:TravelApprovalResponse" name="TravelApprovalResult"/>
  </wsdl:message>
    <wsdl:message name="CancelTravelApprovalRequestMsg">
    <wsdl:part element="tns:CancelTravelApproval" name="CancelTravelApprovalParameters"/>
  </wsdl:message>
    <wsdl:portType name="TravelApprovalPT">
    <wsdl:operation name="TravelApproval">
      <wsdl:input message="tns:TravelApprovalRequestMsg" name="TravelApprovalRequest"/>
      <wsdl:output message="tns:TravelApprovalResponseMsg" name="TravelApprovalResponse"/>
    </wsdl:operation>
        <wsdl:operation name="CancelTravelApproval">
      <wsdl:input message="tns:CancelTravelApprovalRequestMsg" name="CancelTravelApprovalRequest"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>