AccommodationLib/com/touresbalon/bo/LodgingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AccommodationLib/com/touresbalon/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="LodgingResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="confirmed" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>