AccommodationLib/com/touresbalon/bo/RoomRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AccommodationLib/com/touresbalon/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="RoomRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="city" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="country"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="checkInDate"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="checkOutDate"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="hotelCompany"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>