PaymentsModule/com/mastercard/services/mastercard.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://com.mastercard.com/services" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://com.mastercard.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://com.mastercard.com/services">
      <s:element name="Validate">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="creditCard" type="tns:CreditCard"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCard">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Number" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Expiration" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="0" name="HolderFirstName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="HolderLastName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="CardSecurityCode" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="ValidateResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyPayment">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="payment" type="tns:Payment"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Payment">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Number" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Expiration" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="Amount" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="0" name="HolderFirstName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="HolderLastName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="CardSecurityCode" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ApplyPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="ApplyPaymentResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part element="tns:Validate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part element="tns:ValidateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApplyPaymentSoapIn">
    <wsdl:part element="tns:ApplyPayment" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApplyPaymentSoapOut">
    <wsdl:part element="tns:ApplyPaymentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="MasterCardSoap">
    <wsdl:operation name="Validate">
      <wsdl:input message="tns:ValidateSoapIn"/>
      <wsdl:output message="tns:ValidateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ApplyPayment">
      <wsdl:input message="tns:ApplyPaymentSoapIn"/>
      <wsdl:output message="tns:ApplyPaymentSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MasterCardSoap" type="tns:MasterCardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://com.mastercard.com/services/Validate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyPayment">
      <soap:operation soapAction="http://com.mastercard.com/services/ApplyPayment" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MasterCardSoap12" type="tns:MasterCardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://com.mastercard.com/services/Validate" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyPayment">
      <soap12:operation soapAction="http://com.mastercard.com/services/ApplyPayment" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterCard">
    <wsdl:port binding="tns:MasterCardSoap" name="MasterCardSoap">
      <soap:address location="http://localhost/TouresBalon.OMS.MockServices/Services/MasterCard.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:MasterCardSoap12" name="MasterCardSoap12">
      <soap12:address location="http://localhost/TouresBalon.OMS.MockServices/Services/MasterCard.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>