TransportationModule/com/avianca/services/serviciowebavianca.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://www.avianca.com/services/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.avianca.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.avianca.com/services/">
            <s:include schemaLocation="../www/services/InformacionVuelo.xsd"/>
            <s:include schemaLocation="../www/services/ConsultaVuelo.xsd"/>
            <s:include schemaLocation="../www/services/InformacionReserva.xsd"/>
            <s:include schemaLocation="../www/services/ArrayOfInformacionVuelo.xsd"/>
            <s:element name="reservarVuelo">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="informacionReserva" type="tns:InformacionReserva"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelarVuelo">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="orderID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelarVueloResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="cancelarVueloResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarDisponibilidad">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="consultarVuelo" type="tns:ConsultaVuelo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarDisponibilidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="consultarDisponibilidadResult" type="tns:ArrayOfInformacionVuelo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="reservarVueloSoapIn">
    <wsdl:part element="tns:reservarVuelo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cancelarVueloSoapIn">
    <wsdl:part element="tns:cancelarVuelo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cancelarVueloSoapOut">
    <wsdl:part element="tns:cancelarVueloResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarDisponibilidadSoapIn">
    <wsdl:part element="tns:consultarDisponibilidad" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarDisponibilidadSoapOut">
    <wsdl:part element="tns:consultarDisponibilidadResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ServicioWebAviancaSoap">
    <wsdl:operation name="reservarVuelo">
      <wsdl:input message="tns:reservarVueloSoapIn"/>
    </wsdl:operation>
    <wsdl:operation name="cancelarVuelo">
      <wsdl:input message="tns:cancelarVueloSoapIn"/>
      <wsdl:output message="tns:cancelarVueloSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="consultarDisponibilidad">
      <wsdl:input message="tns:consultarDisponibilidadSoapIn"/>
      <wsdl:output message="tns:consultarDisponibilidadSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>