CustomersLib/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://CustomersLib" targetNamespace="http://CustomersLib">
    <xsd:include schemaLocation="Coordinates.xsd"/>
    <xsd:complexType name="Customer">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name" type="xsd:string"/>
			<xsd:element minOccurs="0" name="type" type="xsd:string"/>
			<xsd:element minOccurs="0" name="address" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="coordinates" type="bons1:Coordinates">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
