OrderLib/com/touresbalon/bo/OrderInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://OrderLib/com/touresbalon/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="OrderInfo">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="amount"
				type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="customerType"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>