OrderLib/com/touresbalon/bo/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="unqualified"
	targetNamespace="http://orders.oms.touresbalon.com/"
	xmlns:bons0="http://orders.oms.touresbalon.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="Item.xsd" />
	<xs:complexType name="Order">
		<xs:sequence>
			<xs:element minOccurs="0" name="ordId" type="xs:string" />
			<xs:element minOccurs="0" name="customerId"
				type="xs:string" />

			<xs:element minOccurs="0" name="customerType"
				type="xs:string">
			</xs:element>
			<xs:element minOccurs="0" name="endOrderDate"
				type="xs:dateTime" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="items"
				nillable="true" type="bons0:Item" />

			<xs:element minOccurs="0" name="orderDate"
				type="xs:dateTime" />
			<xs:element minOccurs="0" name="price" type="xs:double" />
			<xs:element minOccurs="0" name="comments" type="xs:string" />
			<xs:element minOccurs="0" name="status" type="xs:string" />

		</xs:sequence>
	</xs:complexType>
	<xs:element name="order" nillable="true" type="bons0:Order" />
</xs:schema>