EntityServices-OrderModule/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OrderService" targetNamespace="http://service.model.orders.oms.touresbalon.com/" xmlns:ns1="http://service.model.orders.oms.touresbalon.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.model.orders.oms.touresbalon.com/" xmlns:tns="http://service.model.orders.oms.touresbalon.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:include schemaLocation="com/touresbalon/oms/orders/model/service/address.xsd"/>
            <xs:include schemaLocation="com/touresbalon/oms/orders/model/service/order.xsd"/>
            <xs:include schemaLocation="com/touresbalon/oms/orders/model/service/item.xsd"/>
            <xs:include schemaLocation="com/touresbalon/oms/orders/model/service/customer.xsd"/>
            <xs:element name="createOrderResponse" nillable="true" type="tns:order"/>
  <xs:element name="idOrder" nillable="true" type="xs:string"/>
  <xs:element name="state" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createOrder">
    <wsdl:part element="ns1:order" name="order">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStateOrder">
    <wsdl:part element="ns1:idOrder" name="idOrder">
    </wsdl:part>
    <wsdl:part element="ns1:state" name="state">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStateOrderResponse">
  </wsdl:message>
  <wsdl:message name="createOrderResponse">
    <wsdl:part element="ns1:createOrderResponse" name="createOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderService">
    <wsdl:operation name="createOrder">
      <wsdl:input message="ns1:createOrder" name="createOrder">
    </wsdl:input>
      <wsdl:output message="ns1:createOrderResponse" name="createOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStateOrder">
      <wsdl:input message="ns1:updateStateOrder" name="updateStateOrder">
    </wsdl:input>
      <wsdl:output message="ns1:updateStateOrderResponse" name="updateStateOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>