PhpRESTAppLib/ApprovalsType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://PhpRESTAppLib">
	<xsd:complexType name="ApprovalsType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sumittedTo"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="approved"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
