LB_Customer/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://LB_Customer"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Customer">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fname" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="lname" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>