OrderLib/com/touresbalon/interfaces/OrderMgmtServiceIF.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OrderMgmtServiceIF" targetNamespace="http://OrderLib/com/touresbalon/interfaces/OrderMgmtServiceIF" xmlns:bons1="http://orders.oms.touresbalon.com/" xmlns:bons2="http://CommonDomain/com/touresbalon/bo" xmlns:tns="http://OrderLib/com/touresbalon/interfaces/OrderMgmtServiceIF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://OrderLib/com/touresbalon/interfaces/OrderMgmtServiceIF">
            <xsd:import namespace="http://CommonDomain/com/touresbalon/bo" schemaLocation="../bo/BusinessErrorFault.xsd"/>
      <xsd:import namespace="http://CommonDomain/com/touresbalon/bo" schemaLocation="../bo/ReturnCode.xsd"/>
      <xsd:import namespace="http://orders.oms.touresbalon.com/" schemaLocation="../bo/Order.xsd"/>
      <xsd:element name="createOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="bons1:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" nillable="true" type="bons2:ReturnCode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="bons1:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" nillable="true" type="bons2:ReturnCode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createOrderFault1_businessFault" nillable="true" type="bons2:BusinessErrorFault"/>
      <xsd:element name="updateOrderFault1_businessFault" nillable="true" type="bons2:BusinessErrorFault"/>
            <xsd:element name="requiresApproval">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="bons1:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="requiresApprovalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="createOrderRequestMsg">
    <wsdl:part element="tns:createOrder" name="createOrderParameters"/>
  </wsdl:message>
    <wsdl:message name="createOrderResponseMsg">
    <wsdl:part element="tns:createOrderResponse" name="createOrderResult"/>
  </wsdl:message>
    <wsdl:message name="updateOrderRequestMsg">
    <wsdl:part element="tns:updateOrder" name="updateOrderParameters"/>
  </wsdl:message>
    <wsdl:message name="updateOrderResponseMsg">
    <wsdl:part element="tns:updateOrderResponse" name="updateOrderResult"/>
  </wsdl:message>
    <wsdl:message name="createOrder_businessFaultMsg">
    <wsdl:part element="tns:createOrderFault1_businessFault" name="businessFault"/>
  </wsdl:message>
    <wsdl:message name="updateOrder_businessFaultMsg">
    <wsdl:part element="tns:updateOrderFault1_businessFault" name="businessFault"/>
  </wsdl:message>
    <wsdl:message name="requiresApprovalRequestMsg">
    <wsdl:part element="tns:requiresApproval" name="requiresApprovalParameters"/>
  </wsdl:message>
    <wsdl:message name="requiresApprovalResponseMsg">
    <wsdl:part element="tns:requiresApprovalResponse" name="requiresApprovalResult"/>
  </wsdl:message>
    <wsdl:portType name="OrderMgmtServiceIF">
    <wsdl:operation name="createOrder">
      <wsdl:input message="tns:createOrderRequestMsg" name="createOrderRequest"/>
      <wsdl:output message="tns:createOrderResponseMsg" name="createOrderResponse"/>
      <wsdl:fault message="tns:createOrder_businessFaultMsg" name="businessFault"/>
    </wsdl:operation>
    <wsdl:operation name="updateOrder">
      <wsdl:input message="tns:updateOrderRequestMsg" name="updateOrderRequest"/>
      <wsdl:output message="tns:updateOrderResponseMsg" name="updateOrderResponse"/>
      <wsdl:fault message="tns:updateOrder_businessFaultMsg" name="businessFault"/>
    </wsdl:operation>
        <wsdl:operation name="requiresApproval">
      <wsdl:input message="tns:requiresApprovalRequestMsg" name="requiresApprovalRequest"/>
      <wsdl:output message="tns:requiresApprovalResponseMsg" name="requiresApprovalResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>